{% extends "layout.njk" %}
{% block content %}

    {% for rows in rows%}

        <ul div class="forum">
            <h1>{{rows.title}}</h1>
            <h2>{{rows.content}}</h2>
            <p>{{rows.createdAt}}</p>
        </ul>
        {%endfor%}
    {% endblock %}